@import "/src/definitions.scss";

.contact {
  &__wrapper {
    width: 1200px;
    height: 600px;

    padding-bottom: 3rem;

    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 6rem;
    justify-content: center;
  }

  .info {
    &__card {
      width: 400px;
      padding: 2rem;
      margin-bottom: 2rem;
      border-radius: 0.75rem;

      //background-color: $c-mark;
      border: 2px solid $c-main-lite;

      text-align: center;

      transition: 0.3s;

      cursor: pointer;

      .icon {
        width: 40px;
        height: 40px;
      }

      &-title {
        margin-top: -5px;
        margin-bottom: 1rem;

        font-size: $s-font;
        font-weight: 500;
        color: $c-text;
      }

      &-data {
        display: block;

        font-size: $s-font;

        transition: 0.3s;
      }

      &:hover {
        transform: translateY(-10px);
      }

      &.whatsapp {
        &:hover {
          border-color: #25d366;
          background-color: #25d366;
        }
      }

      &.mail {
        &:hover {
          border-color: #DB4437;
          background-color: #DB4437;
        }
      }
    }
  }

  .form {
    width: 360px;

    &__input {
      position: relative;

      height: 4rem;
      margin-bottom: 2rem;
      border: 2px solid $c-main-lite;

      border-radius: 0.75rem;

      label {
        position: absolute;
        top: -0.9rem;
        left: 1.25rem;

        padding: 0.25rem;
        background-color: $c-main-dark;

        font-size: $s-font-small;

        z-index: 10;
      }

      input,
      textarea {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        border-radius: 0.75rem;

        background-color: transparent;

        font-size: $s-font-small;
        color: $c-text;

        z-index: 1;

        transition: 0.3s;

        &::placeholder {
          color: $c-main-lite;
        }
      }

      textarea {
        resize: none;
      }

      &:focus-within {
        //border-color: $c-mark;
      }

      &.textarea {
        height: 11rem;
      }
    }

    &__button {
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;

      border: 2px solid $c-main-lite;

      background-color: $c-main;

      transition: 0.3s;

      @include center();

      .icon {
        width: 25px;
        height: 25px;

        margin-left: 0.5rem;
      }

      &:hover {
        border-color: $c-mark;
        background-color: $c-mark;

        transform: translateY(-10px);
      }
    }
  }
}
