<section class="welcome">
  <main class="welcome__data">
    <h1>Eliezer A Meza</h1>
    <h2>Desarrollador Web</h2>

    <p>
      Me gusta crear cosas para la web
    </p>

    <button>
      Contactame

      <img src="assets/icons/send.svg" alt="icon-send" class="icon" />
    </button>
  </main>

  <div class="welcome__portraid">
    <picture class="portraid">
      <source srcset="assets/image/portraid.avif" type="image/avif" />
      <source srcset="assets/image/portraid.webp" type="image/webp" />
      <img src="assets/image/portraid.jpg" alt="me.jpg" />
    </picture>
  </div>
</section>
