@import "/src/definitions.scss";

.project {
  padding: 1rem;

  // border: 2px solid $c-main-lite;
  //background-color: $c-main-alt;
  border-radius: 0.5rem;

  transition: 0.3s;

  cursor: pointer;

  display: grid;
  grid-template-rows: 200px 1fr;

  &__image {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: $c-main-dark-o80;

      transition: 0.3s;

      z-index: 10;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;

      border-radius: 0.5rem;
    }
  }

  &__label {
    display: flex;

    h4 {
      margin-bottom: 0.25rem;

      font-size: $s-font;
      color: $c-text;

      transition: 0.3s;
    }
  }

  &__description {
    font-size: $s-font-small;
    color: $c-text-o80;
  }

  &__skills {
    padding-top: 0.75rem;

    display: flex;
    flex-wrap: wrap;

    .skill {
      margin-right: 0.25rem;
      padding: 0.35rem 0.75rem;

      border-radius: 1rem;
      border: 1px solid $c-main-lite;

      font-size: $s-font-small;
    }
  }

  &__body {
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
  }

  &:hover {
    // $c-main-alt

    transform: translateY(-10px);

    .project__image::after {
      background-color: transparent;
    }
  }
}
