<div class="container-all">
  <app-navigation />

  <main class="sectionsWrapper" id="sectionsWrapper">
    <app-about-me
      id="aboutMe"
      class="section aboutMe"
      [sectionData]="app_data.aboutMe"
    />

    
    <app-welcome id="welcome" class="section welcome" />

    
    <app-experience
      id="experience"
      class="section experience"
      [sectionData]="app_data.experience"
    />

    <app-projects
      id="projects"
      class="section projects"
      [sectionData]="app_data.projects"
    />

    <app-contact
      id="contact"
      class="section contact"
      [sectionData]="app_data.contact"
    />
  </main>

  <!-- <aside class="floating socialbar">
    <a href="#"
      ><img src="assets/logos/github.svg" alt="logo-github" class="icon"
    /></a>
    <a href="#"
      ><img src="assets/logos/linkedin.svg" alt="logo-linkedin" class="icon" />
    </a>
  </aside> -->

  <aside class="floating email">
    <div class="floatingWrapper">
      <a href="#">eliezermeze.dev@gmail.com</a>
    </div>
  </aside>
</div>
