@import "/src/definitions.scss";

.floating {
  width: 75px;
  position: absolute;

  bottom: 0;

  &.socialbar {
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 1rem;

      transition: 0.3s;

      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  &.email {
    bottom: 0;
    left: 0;

    padding-bottom: 8rem;

    .floatingWrapper {
      position: relative;

      transform: rotate(-90deg);

      &::before {
        content: "";
        position: absolute;
        bottom: calc(50%);
        left: -6.5rem;

        height: 2px;
        width: 5rem;
        background-color: $c-main-lite;
      }

      a {
        font-size: 1.25rem;
        color: $c-main-lite;

        transition: 0.3s;
      }

      &:hover {
        a {
          margin-left: 10px;

          color: $c-mark;
        }
      }
    }
  }
}

// article {
//   background: red;
//   width: 300px;
//   padding: 20px;
//   position: relative;
// }

// article::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   height: 20px;
//   width: 100%;
//   left: 0;
//   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;
//   background-size: 200%;
// }

// article {
//   height: auto;
//   overflow: hidden;
//   padding: 20px;
//   background: red;
//   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);

//   &:before,
//   &:after {
//     content: "";
//     height: 2px;
//     position: absolute;
//     left: 0;
//     right: 0;
//     -webkit-clip-path: polygon(
//       0% 0%,
//       5% 100%,
//       10% 0%,
//       15% 100%,
//       20% 0%,
//       25% 100%,
//       30% 0%,
//       35% 100%,
//       40% 0%,
//       45% 100%,
//       50% 0%,
//       55% 100%,
//       60% 0%,
//       65% 100%,
//       70% 0%,
//       75% 100%,
//       80% 0%,
//       85% 100%,
//       90% 0%,
//       95% 100%,
//       100% 0%
//     );
//   }
//   &:before {
//     background-color: green;
//     top: 0;
//   }
//   &:after {
//     background-color: red;
//     bottom: -2px;
//   }
// }
