<section class="welcome">
  <main class="welcome__data">
    <h1>Eliezer A Meza</h1>
    <h2>Desarrollador Web</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, officia.
    </p>

    <button>
      Contactame

      <img src="assets/icons/send.svg" alt="icon-send" class="icon" />
    </button>
  </main>

  <picture class="welcome__portraid">
    <source srcset="assets/image/me.avif" type="image/avif" />
    <source srcset="assets/image/me.webp" type="image/webp" />
    <img src="assets/image/me.jpg" alt="me.jpg" />
  </picture>
</section>
