@import "./definitions.scss";

//? ---- GENERALS
.container-all {
  position: relative;

  width: 100vw;
  max-width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  .sectionsWrapper {
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.section {
  min-width: 100vw;
  min-height: 100vh;

  @include center();

  &__title {
    width: 100%;
    min-height: 100px;
    padding: 1rem;
    margin-bottom: 5rem !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: $s-subtitle;
    }

    p,
    a {
      font-size: $s-font;
      color: $c-text-o60;
    }
  }

  &.welcome {
    position: relative;
    
    // background-color: #121113;
  }
}

.icon {
  width: 30px;
  height: 30px;
}

// article {

//   width: 500px;
//   height: 500px;

//   position: relative;
//   padding: 20px;
//   margin-bottom: 20px;
//   background-color: red;
//   overflow: hidden;
// }

// article:after {
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 20px; /* Altura del efecto de papel rasgado */
//   background-color: #f8f8f8; /* Color de fondo del "papel rasgado" */
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));

//   /* Añadir bordes irregulares */
//   border-left: 5px solid #f8f8f8;
//   border-right: 5px solid #f8f8f8;
//   border-bottom: 5px solid #f8f8f8;
//   border-image:
//     linear-gradient(to right, #f8f8f8 0%, #f8f8f8 25%, transparent 25%, transparent 75%, #f8f8f8 75%, #f8f8f8 100%) 1;
// }
