<header class="header showNavigation" id="header">
  <button
    class="menuBtn"
    [ngClass]="{ open: openMenu }"
    (click)="openMenu = !openMenu"
  >
    <div class="animateBox"></div>
  </button>

  <nav class="nav" [ngClass]="{ open: openMenu }">
    <ul class="nav__list">
      <li nList="1.">
        <a href="#aboutMe"> About me</a>
      </li>
      <li nList="2.">
        <a href="#experience"> Experiencia </a>
      </li>
      <li nList="3.">
        <a href="#projects"> Proyectos </a>
      </li>
      <li nList="4.">
        <a href="#contact">Contacto </a>
      </li>
    </ul>

    <button class="nav__resumeBtn">
      Resume

      <img
        src="assets/icons/curriculum.svg"
        alt="icon-curriculum"
        class="icon"
      />
    </button>
  </nav>
</header>
