@import "/src/definitions.scss";

.navigation {
  position: absolute;

  width: 100%;
  height: 0;

  overflow: hidden;

  transition: 0.3s;

  display: flex;
  justify-content: flex-end;

  ul {
    height: 50px;
    padding-right: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      padding: 0.5rem 1rem;

      a{

        color: $c-main-lite;
      }
    }
  }

  &.showNavigation {
    height: 50px;
  }
}
