@import "/src/definitions.scss";

$navbarHeight: 80px;

.navigation {
  position: absolute;

  width: 100%;
  height: $navbarHeight;

  transition: 0.3s;

  background-color: $c-main-dark;
  transform: translateY(-$navbarHeight);

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  z-index: 100;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    height: $navbarHeight;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      position: relative;

      padding: 1rem 1.5rem;

      border-radius: 0.5rem;
      color: $c-mark;

      cursor: pointer;
      transition: 0.3s;

      &::before {
        content: attr(nList);

        left: 5px;
        top: 17px;

        position: absolute;
      }

      &:hover {
        transform: translateY(10px);

        a {
          color: $c-mark;
        }
      }

      a {
        font-size: $s-font;

        transition: 0.3s;
      }
    }
  }

  button {
    margin-right: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;

    border: 2px solid $c-main-lite;

    font-size: $s-font;
    
    transition: 0.3s;

    @include center();

    .icon {
      width: 20px;
      height: 20px;

      margin-left: 0.5rem;
    }

    &:hover {
      border-color: $c-mark;
      background-color: $c-mark;
    }
  }

  &.showNavigation {
    transform: translateY(0);
  }
}
